*{
    padding: 20;
    margin: 0;
    font-family: Verdana, Tahoma, sans-serif;
}
html {
    scroll-behavior: smooth;
    color: white;
}

body{
    background-color: rgb(63, 62, 62);
}


#navbardesktop{
    display: none;
    z-index: 1000;
}

#navbar{
    position: fixed;
    background-color: rgb(42, 42, 42);
    min-height: 50px;
    width: 100vw;
    transition: all 500ms ease-in-out;
    text-align: center;
    z-index: 1000;
}

.myHamburgerM{
    width: 100vw;
    padding: 10px;
    display:block;
}

#navbar a{
    padding: 10px;
    text-decoration: none;
    color: white;
    display: block;
    transition: all 500ms;
    width: 100vw;
}
.menus{
    text-align: center;
    transition:all 1000ms;
    display: none;
    width: 100vw;
}
#navbar a:active{
    background-color:green;
}

#navbar a:hover{
    font-size: larger;
}

.newpage1{
    height:100vh;
    margin: auto;
    display: flex;
    text-align: center;
}

.newpage1 .centerdiv{
    margin: auto;
}

.newpage1 .fh{
    width: 100%;
    display: block;
    margin-bottom: 30px;
    font-size: 3vh;
    font-family: cursive;
}

#linuxSpan{
    color: orange;
}

.newpage1 .sh{
    display: flex;
    margin: auto;
    transition:all 1000ms ease-in;
    height: auto;
}

.newpage1 .sh img{
    max-width: 30%;
    margin: auto;
}

.newpage1 .socialMedia{
    position: absolute;
    bottom: 40px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.newpage1 .socialMedia p{
    margin-left: 15%;
    margin-right: 15%;
    font-size: 13px;
    font-weight: lighter;
    color: rgb(155, 149, 149);
    position: relative;

    text-transform: uppercase;
}

.newpage1 .socialMedia label{
    position: relative;
    margin-bottom: 5px;
}

/* page 2 why linux css starts */
.newpage2{
    height: auto;
    position: relative;
    display: flex;
    background-color: #423f3f;
}

.newpage2 .whyCenter{
    margin: auto;
    padding: 100px;
}


.whyCenter .mycard{
    background-color: rgb(107, 104, 97);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
    transition: all 600ms ease-in-out;
    border-radius: 20px;
}

.mycard img{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.mycard p{
    margin: 20px;
}

.mycard label{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
}



.whyCenter .mycard:hover{
    box-shadow: 5px 5px 25px 0px rgb(105, 91, 91);

}
/* page 3 contact css starts here */


.newpage3{
    background-color: #353131;
    height: auto;
    min-height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
}


.newpage3 .socialMedia{
    width: 100%;
    text-align: center;
}

.newpage3 img{
    margin: 10px;
    width: 25px;
    transition: all 300ms ease-in-out;
}


.newpage3 img:hover{
    width: 37px;
}

.newpage3 .addMessage{
    margin: auto;
    display: flex;
    text-align: center;
    min-height: 80%;
    height: 80%;
    width: 80%;
    position: sticky;
    flex-direction: column;
}

.newpage3 .add{
    height: 40%;
    flex:20% ;
}
.newpage3 .msg{
    text-align: start;
    height: 60%;
    display: flex;
    flex:60% ;
    flex-direction: column;
}


.msg input{
    display: block;
    width: 100%;
    margin-bottom: 4%;
    padding: 15px;
    border-radius: 15px;
}
.content{
    margin: auto;
    width: 80%;
}

.newpage3 h2{
    margin-bottom: 2%;
    color: blueviolet;
}

.newpage3 p{
    margin-bottom: 6%;
}

.newpage3 button{
    margin-bottom: 2%;
    background-color: blueviolet;
    color: white;
    font-size: 17px;
    padding: 15px;
    outline-width: 0px;
    outline: none;
    border: none;
    border-radius: 10px;
}





/* For Desktop View */
@media screen and (min-width: 1024px) {
    #navbar{
        display: none;
    }


    #navbardesktop{
        transition: all 500ms ease-in-out;
        display: flex;
        width: 100%;
        position: fixed;
        background-color: #3f3e3e;
    }

    .logo{
        padding-left: 30px;
        flex: 30%;
        display: block;
        float: left;
        margin: auto;
        font-size: 30px;
        font-family: cursive;
    }

    .logo a{
        text-decoration: none;
        color: white;
    }

    .navitems{
        align-self: flex-end;
        display: flex;
        float: right;     
    }

    .navitems ul{
        display: flex;
        float: right;    
        padding: 20px;
        list-style-type: none; 
    }

    .navitems li{
        margin: 10px;
    }

    .navitems a{
        color: white;
        text-decoration: none;
        transition: all 500ms ease-in-out;
    }

   
    .navitems li a:hover{
        color: greenyellow;
        
    }



    /* page 2 css for desktop */

    .newpage2{
        min-height: 100vh;
        height: auto;
    }

    .newpage2 .whyCenter{
        display: flex;
        flex-direction: row;
    }
    

    .mycard{
        flex: 50%;
        margin: 30px;
        max-width: 300px;
        max-height: 60%;
    }




    /* page 3 css for desktop */



.newpage3 .addMessage{
    margin: auto;
    display: flex;
    height: 80%;
    width: 80%;
    flex-direction: row-reverse;
}

.newpage3 .add{
    height: 70%;
    margin: auto;
    flex:30% ;
    float: left;
}
.newpage3 .msg{
    color: white;
    height: 70%;
    margin: auto;
    float: right;
    flex:60% ;
    text-align: start;
}

.newpage3 .msg{
    text-align: start;
    height: 60%;
    display: flex;
    flex:60% ;
    flex-direction: column;
}




  }
